@form_element_margin: 5px 0;

.content_field
{
  .checkbox
  {
    margin: @form_element_margin;
  }
  
  .checkbox_label
  {
    display: inline;
  }
  
  .radio_group
  {
    margin: @form_element_margin;
  }
  
  .radio_label
  {
    display: inline;
  }
}